@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
@font-face {
  font-family: 'Laisha';
  src: url(assets/laisha/Laisha.ttf);
}

p {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #EFEFEF;
}

::-webkit-scrollbar-thumb {
  background-color: #304517; 
  border-radius: 10px;
  border: 1px solid #EFEFEF;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #624836;
}