@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
@layer base {
  :root {
    --radius: 0.5rem
  }
}
@font-face {
  font-family: 'Laisha';
  src: url(assets/laisha/Laisha.ttf);
}

p {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #EFEFEF;
}

::-webkit-scrollbar-thumb {
  background-color: #304517; 
  border-radius: 10px;
  border: 1px solid #EFEFEF;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #624836;
}