@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
@font-face {
  font-family: 'Laisha';
  src: url(assets/laisha/Laisha.ttf);
}

p {
  font-family: "Open Sans";
}